* , *+* , *::before , *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.50%;
  line-height: 1.6;
}

body {
  font: 2rem $font , sans-serif;
  min-height: 100%;
}

br { clear: left; /* separate the list from subsequent markup */ }

svg { fill: currentColor; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }

p { margin: 0; padding: 0; }

pre {
  overflow: auto;
  padding-left: .5rem;
  padding-right: .5rem;
}

td,
th {
  padding: 1rem;
  text-align: left;
  border-bottom: solid #eee;
}

@media(min-width:35rem) {
  .col { display: table-cell; }
  .\31 { width: 8%; }
  .\32 { width: 17%; }
  .\33 { width: 25%; }
  .\34 { width: 33%; }
  .\35 { width: 42%; }
  .\36 { width: 50%; }
  .row {
    display: table;
    border-spacing: 1rem 0;
  }
}